<%- include('partials/header') %>

    <%- include('partials/nav') %>

    <main class="container" id="add">
        <form action="/edit/<%= question.id %>?_method=PUT" method="post">
            <h1>Edit a question</h1>
            <select name="category" id="category" required>
                <option value="<%= question.category %>"><%= question.category %></option>
                <option value="">-- Please choose a category --</option>
                <option value="Aptitude Test">Aptitude Test</option>
                <option value="Skill-based Test">Skill-based Test</option>
            </select>

            <% if(question.category === 'Skill-based Test'){ %>
                <select name="field" id="field" style="display: block;">
                    <option value="<%= question.field %>" class="field"><%= question.field %></option>
                </select>
            <% } %>
            
            <label for="">Question</label>
            <textarea name="question" id="" cols="30" rows="4" required><%= question.question %></textarea>
            <label for="">Image URL</label>
            <input type="text" name="imageURL" id="" value="<%= question.imageURL %>">
            <div id="choices">
                <label for="">Choices</label>
                <span id="add-choice"><img src="/images/plus.png" alt="">Add a choice</span>
                <% question.options.forEach(option => { %>
                    <div class="choice">
                        <input type="text" name="options" id="" value="<%= option %>">
                        <div>
                            
                            <% if(option === question.answer) { %>
                                <img class="markBtn" src="/images/correct.png" alt="">    
                            <% } else { %>
                                <img class="markBtn" src="/images/check-mark.png" alt="">
                            <% } %>

                            <img class="delete-choice" src="/images/remove.png" alt="">
                        </div>
                    </div>
                <% }) %>
            </div>
            <input type="hidden" name="answer" id="answer" value="<%= question.answer %>"> 
            <input type="submit" value="Save">
        </form>
    </main>

    <script src="/js/add_choice.js"></script>
  
<%- include('partials/footer') %>