<%- include('partials/header') %>

    <main class="container" id="add">
        <form action="/edit/<%= question.id %>" method="post">
            <h1>Edit a question</h1>
            <select name="category" id="" required>
                <option value="">-- Please choose a category --</option>
                <option value="aptitude">Aptitude</option>
                <option value="networks">Networks</option>
                <option value="tech_support">Tech Support</option>
                <option value="ai_cc_iot">AI, Cloud Computing, IoT</option>
            </select>
            <label for="">Question</label>
            <input type="text" name="question" id="" required value="<%= question.question %>">
            <label for="">Image URL</label>
            <input type="text" name="imageURL" id="" value="<%= question.imageURL %>">
            <div id="choices">
                <label for="">Choices</label>
                <span id="add-choice"><img src="/images/plus-circle.svg" alt="">Add a choice</span>
                <% question.options.forEach(option => { %>
                    <div class="choice">
                        <input type="text" name="option" id="" value="<%= option %>">
                        <span class="delete-choice"><img src="/images/x-circle.svg" alt=""></span>
                    </div>
                <% }) %>
            </div>
            <label for="">Correct answer</label>
            <input type="text" name="answer" id="" value="<%= question.answer %>" required>
            <input type="submit" value="Save">
        </form>
    </main>

    <script src="/js/add_choice.js"></script>
  
<%- include('partials/footer') %>